@use "../foundation"as *;

.c-sec {
  overflow: hidden;
  padding: vw(60px, 768) 0px vw(100px, 768);
  @include mq-target(sm) {
    padding: min(vw(40px,769),80px) 0;
  }

  &__ttl {
    font-weight: 900;
    position: relative;
    margin-bottom: vwsp(20px);
    @include mq-target(sm) {
      margin-bottom: 46px;
    }
    h2 {
        position: relative;
        z-index: 10;
        transform: translateZ(0px);
        @include flex($align:center,$justify:center);
        width: 100vw;
        min-width: 1280px;
        transform: translateX(-50%);
        left: 50%;
        line-height: 1;
        span {
            font-size: vwsp(28px);
            margin: 0 vwsp(20px) 4px;
            @include mq-target(sm) {
                font-size: 52px;
                // font-size: min(vwpc(38px),48px);
                margin: 0 min(vwpc(20px),40px) 4px;
            }
            position: relative;
            line-height: 1.2;
            font-family: $shippo;
            -webkit-background-clip: text;
            color: transparent;
            filter: drop-shadow(0 0 0.2rem rgb(232, 191, 104));
            text-transform: uppercase;
            background: #425002;
            -webkit-background-clip: text;
            color: transparent;
            padding: 0;
            -webkit-text-stroke: 1px $color-key-2;
            text-shadow: 3px 3px #fffec7;
            color: rgba(0,0,0,0);
        }

        &::before,
        &::after {
            content: "";
            display: block;
            width: 50vw;
            min-width: 1280px;
            height: 2px;
            transform: translateY(-50%);
            background-color: $color-key-2;
        }
    }


    p {
        filter: drop-shadow(2px 2px 2px #000);
        font-size: vwsp(10px);
        color: $color-key-2;
        @include mq-target(sm) {
          font-size: 16px;
            // font-size: min(vw(12px,769),16px);
        }
    }

}

  &__bg {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    // background:#001988;
    background-image: url(../../assets/images/section_bg.jpg);
    background-repeat: repeat;
  }

  &__top {
    position: fixed;
    z-index: 666;
    opacity: 0;
    transition: opacity 0.6s ease;
    pointer-events: all;
    bottom: vw(20px, 365);
    right: vw(20px, 365);
    width: vw(50px, 365);

    img {
      margin: auto;
    }

    @include mq-target(sm) {
      width: vw(90px, 1920);
      right: 3%;
      bottom: 5%;

      img {
        width: vw(90px, 1920);
      }
    }

    &.is-anim {
      opacity: 1;
    }
  }

  &__inner {
    overflow: hidden;
    position: relative;
    z-index: 100;
    margin: auto;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
    border: 2px solid $color-key-2;
    border-radius: clamp(12px,2.1vw,24px);
    background-image: $color-bg;
    padding: vwsp(40px) vwsp(28px);
    // width: 92.1875vw;
    @include mq-target(sm) {
      width: min(100vw,1000px);
      padding: min(vwpc(60px),80px) min(vw(64px,769),100px) 80px;
    }

    &::before,&::after {
      content:"";
      @include absAll;
      display: block;
    }

    &::before {
      z-index: -1;
      background: url(../../assets/images/frame_sp.webp) no-repeat 0 0/100%;
      @include mq-target(sm) {
          background: url(../../assets/images/frame.webp) no-repeat 0 0/100%;
      }
    }

    &::after {
      content: "";
      top: initial;
      bottom: 0;
      z-index: -1;
      background-image: url(../../assets/images/frame_top_left.png), url(../../assets/images/frame_top_right.png), url(../../assets/images/frame_bottom_left.png), url(../../assets/images/frame_bottom_right.png);
      background-repeat: no-repeat, no-repeat, no-repeat, no-repeat;
      background-position: top 6px left 6px, top 6px right 6px, bottom 6px left 6px, bottom 6px right 6px;
      background-size: 10% auto, 10% auto, 10% auto, 10% auto;
      @include mq-target(sm) {
        background-position: top 10px left 10px, top 10px right 10px, bottom 10px left 10px, bottom 10px right 10px;
        background-size: 6% auto, 6% auto, 6% auto, 6% auto;
      }

    }  
  }


  &__btn {
    text-align: center;
    margin-top: vwsp(50px);
    // margin-top: min(vwsp(40px),50px);
    @include mq-target(sm) {
      margin-top: min(vwpc(40px),46px);
    }
    a {
      position: relative;
      border: 2px solid $color-key-2;
      background: linear-gradient(90deg,#001988,#081a7d);
      box-shadow: 0 4px 24px 0 rgba(21, 135, 152, 0.4);
      border-radius: 32px;
      font-size: vwsp(14px);
      padding: vwsp(14px) vwsp(84px);
      color: $color-white;
      transition: all .4s;
      
      @include mq-target(sm) {
        font-size: 22px;
        padding: 16px 100px;
      }
  
      &::after {
        content: "";
        display: inline-block;
        border-radius: 100px;
        @include absAll;
        z-index: -1;
        transition: all .4s;
        background-color: #fff;
      }
  
      &:hover {
        transform: translateY(-0.3rem);
        box-shadow: 0 1rem 2rem rgb(0 0 0 / 20%);
  
        &::after {
          transform: scaleX(1.4) scaleY(1.6);
          opacity: 0;
        }
      }
    }


  }

  &__points {
    margin: auto;
    @include mq-target(sm) {
      // width: min(vwpc(580px),900px);
    }

    h4 {
      @include flex($align:center,$justify:center);
      position: relative;
      z-index: 5;
      height: min(vwsp(46px),56px);
      @include mq-target(sm) {
        height: min(vwpc(46px),62px);
      }

      span {
        background: url(../../assets/images/bg_paper_blue.jpg) repeat 0 0;
        background-size: 3.75vw 3.75vw;
        @include flex($align:center,$justify:center);
        width: 100%;
        height: 100%;
        position: relative;
        z-index: 0;
        font-size: min(vwsp(20px),28px);
        color: $color-key-2;
        @include mq-target(sm) {          
          font-size: 24px;
        }
      }
    }

  }

  &__details {
    padding: 14px 0 10px;
  }

  &__caution {
    display: block;
    position: relative;
    padding: min(vw(10px,365),28px) min(vw(12px,365),30px);
    margin-top: min(vwsp(12px),24px);
    width: 100%;

    @include mq-target(sm) {
      margin-top: min(vwpc(16px),26px);
      padding: min(vw(18px,769),30px) min(vw(36px,769),60px);
    }
   
    &::before {
      content: '';
      @include absAll;
      background: url(../../assets/images/btn03.png) no-repeat left top/contain;
      background-size: 100% 100%;
      background-position: center;
      z-index: 0;
      transition: 0.3s;
    }

    p {
      position: relative;
      font-size: min(vwsp(12px),16px);
      color: $color-key-2;
      z-index: 1;
      font-weight: bold;
      
      @include mq-target(sm) {
        font-size: min(vw(16px,768),22px);
      }
    }
  }
}



#loading {
  position: fixed;
  top: 0%;
  left: 0%;
  height: 100%;
  width: 100%;
  z-index: 20000;
  transition: 0.8s;
  background: #001988;
  background-image: url(../../assets/images/section_bg.jpg);
  background-position: center;
  background-repeat: repeat;
  @include flexCenter;

  img {
    width: 82vw;

    @include mq-target(sm) {
      width: 24vw;
    }

    margin: auto;
    animation: cm_chara_2 6.5s infinite;
  }

  &.open {
    opacity: 0;
    pointer-events: none;
  }
}



.IEblock {
  display: none;
}


.bg_particles {
  z-index: 1;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100%;

  canvas {
    filter: blur(1px);
  }
}


