@use "../foundation"as *;


.p-camp {
    &__txt {
        font-size: 2.8vw;
        filter: $txt-shadow;

        @include mq-target(sm) {
            font-size: 16px;
            // font-size: min(vwpc(14px), 16px);
        }
    }


    &-cupon {
        &__list {
            @include flex($align:center, $wrap:wrap, $justify:center);
            margin: vwsp(20px) 0 vwsp(30px);
            @include mq-target(sm) {
                margin-top: -10px;
                margin: min(vwpc(24px), 40px) 0 min(vwpc(16px), 20px);
            }
        }

        &__item {
            position: relative;
            overflow: hidden;
            // margin-top: 10px;
            // width: min(vwsp(150px),240px);
            margin: 10px auto 0;
            width: 48%;
            
            @include mq-target(sm) {
                width: 46.2%;
                margin: 0 10px;
            }
        }

        &__img {
            position: relative;

            &::after {
                content: "";
                @include absAll;
                background: url(../../assets/images/cupon_frame.png) no-repeat 0 0/100%;
                animation: cm_chara_2 6.5s infinite;
            }
        }

        &__txt {
            font-family: $line-r;
            font-size: 28px;
            font-size: vwsp(14px);
            margin-top: 10px;

            @include mq-target(sm) {
                font-size: min(vwpc(20px), 28px);
            }
        }
    }

    &-cau {

        &__list {
            margin-top: vwsp(14px);
            @include mq-target(sm) {
                margin-top: 40px;
            }
        }
        &__item {
            width: 100%;
            margin-top: vwsp(6px);
            @include mq-target(sm) {
                margin-top: 10px;
            }
            dl {
                @include flex($align:center, $justify:center);
                width: 100%;
                margin: auto;
                font-size: min(vw(10px, 365), 16px);

                @include mq-target(sm) {
                    font-size: min(vwpc(12px),16px);
                }
                dt {
                    margin-right: 2%;
                    width: vw(160px, 768);

                    @include mq-target(sm) {
                        width: min(vwpc(140px),160px);
                    }


                    span {
                        width: 100%;
                        display: inline-block;
                        padding: vw(2px, 768) vw(8px, 768);
                        border-radius: 20px;
                        background: $color-red;
                        color: $color-white;
                        @include mq-target(sm) {
                            padding: 2px 8px;
                        }
                    }
                }

                dd {
                    text-align: left;
                }
            }
        }
    }
}