@use "../foundation"as *;

.p-product {
    position: relative;
    z-index: 50000;

    &__inner {

        // min-height: 1200px;
        & .c-sec__ttl {
            // margin-bottom: 0
        }
    }

    &__wrap {
        
        @include mq-target(sm) {
            max-width: min(82%, 700px);
            margin: 0 auto 0;
        }
    }

    &__list {
        margin-top: vwsp(30px);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    @include mq-target(sm) {
        margin-top: -30px;
        padding: 60px 0 20px;
    }
    }

    &__item {
        margin-top: vwsp(14px);
        position: relative;
        overflow: hidden;
        
        
        @include mq-target(sm) {
            margin-top: 20px;
            width: 49%;   
        }


        .js-acc--trigger {
            background-image: url(../../assets/images/acc.png);
            background-size: 100% 100%;
            cursor: pointer;
            position: relative;
            @include flex($align:center, $justify:space-between);
            padding: vwsp(10px) vwsp(16px);
            @include mq-target(sm) {
              padding: 10px 16px;
            }
                      
            .p-faq__btn {
                margin-left: auto;
            }
          }
    }

    &-slider {
        border: 3px solid $color-key-2;
    background-color: #d0d0d0;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
    }


    &-thumb {
        &__list {
            margin-top: vwsp(20px);
            justify-content: space-between;
            @include mq-target(sm) {
                margin-top: 48px;
            }
        }

        &__item {
            border: 2px solid $color-key-2;
            cursor: pointer;
            background-color: #d0d0d0;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
            width: 24%;
            @include mq-target(sm) {
                border: 3px solid $color-key-2;
                width: 22.4%;
            }
        }
    }


    &-acc {

        &__list {
            @include column4(32%);
        }

        &__item {
            margin-top: vwsp(20px);
            border: 2px solid $color-key-2;
            width: 32%;
            @include mq-target(sm) {
                margin-top: 20px;
            }
        }


        &__ttl {
            font-size: vwsp(14px);
            @include mq-target(sm) {
                font-size: 18px;
            }
            // position: absolute;
            @include absCenter;
        }

    }

}


