@use "../foundation"as *;

.p-feature {
    position: relative;
    overflow: hidden;

    @include mq-target(sm) {
        padding: vw(120px, 1920) 0px;
    }


    &__list {
        // width: 90%;
        @include flex($align:center, $wrap:wrap, $justify:center);
        margin: auto;
    }

    &__item {
        position: relative;
        // margin-top: 60px;
        overflow: hidden;
        margin: 0 10px;

        // margin-top: 40px;
        @include mq-target(sm) {
            width: 40.2%;
            // margin-top: vw(60px, 1200);
        }
    }

    &__img {
        position: relative;

        @include mq-target(sm) {
            margin: vw(40px, 1920) 0 vw(20px, 1920);
        }

        &::after {
            content: "";
            @include absAll;
            background-image: url(../../assets/images/cupon_frame.png);
            background-position: center;
            background-repeat: no-repeat;
            background-size: contain;
            animation: cm_chara_2 6.5s infinite;
        }
    }

    &__txt {
        font-size: 28px;
        font-size: min(vw(18px, 365), 26px);
        margin-bottom: 20px;

        @include mq-target(sm) {
            font-size: vw(28px, 1920);
        }
    }
}